# FaceSecure Pay: Core Dependencies
opencv-python
opencv-contrib-python
numpy
customtkinter
matplotlib
Flask
sqlite3
# DeepFace aur biometrics ke liye (agar aap future mein upgrade karein)
deepface
tf-keras